*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url('../Image/fitness.jpg');
    background-size: cover;
    color: #fff;
    font-family: 'Noto Serif', serif;
}